{% extends layout %}
{% block head_section %}
{#-
	Include something in <head />
-#}
{% endblock head_section %}

{% block content %}
	<section class="section section--col">
		<div class="container">
			<h2 class="h2">Колонки</h2>
			<div class="row">
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
				<div class="col col--lg-1 col--m-2 col--s-3 col--xs-12">
					<div class="test-col"></div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}


{% block footer_section %}
	{#-
		Include something before /body
	-#}
{% endblock footer_section %}