{% extends layout %}
{% block head_section %}
{#-
	Include something in <head />
-#}
{% endblock head_section %}

{% set list = [
	{
		"title": "Банковские карты",
		"icon": "i-icon_3"
	},
	{
		"title": "Мессенджер",
		"icon": "i-icon_2"
	},
	{
		"title": "Интернет-банк",
		"icon": "i-icon_4"
	},
	{
		"title": "Электронный кошелёк",
		"icon": "i-icon_1"
	},
	{
		"title": "Баланс телефона",
		"icon": "icon_5"
	}
]%}

{% block content %}
	<section class="section section--hero">
		<div class="container">
			<div class="hero">
				<div class="hero__inner">
					<h1 class="h1">Тестовое задание</h1>
					<p class="text hero__text">На&nbsp;экранах до&nbsp;1024px показывать CSS-анимацию.
						<br>При клике на&nbsp;кнопку плавный scroll до&nbsp;следующего<br> блока.</p>
					<a href="#" class="btn" id="js-next-btn">
						<span class="btn__spot"></span>
						<span class="btn__text">Подробнее</span>
					</a>
					<div class="hero__img-block">
						<img class="hero__img hero__img--splash" src="{{ 'splash.png' | img_asset }}" alt="Декоративное пяитно">
						<img class="hero__img hero__img--shadow" src="{{ 'shadow.png' | img_asset }}" alt="Тень от кошелька">
						<img class="hero__img hero__img--wallet" src="{{ 'wallet.png' | img_asset }}" alt="Кошелек с логотипом банка «Точка»">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section" id="js-target">
		<div class="container">
			<h2 class="h2">Колонки с&nbsp;иконками</h2>
			<div class="row list">
				{% for item in list %}
					<div class="col col--md-4 col--sm-6">
						<div class="list__item">
							{{ Macros.Icon( item.icon )}}
							{{ item.title }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}


{% block footer_section %}
	{#-
		Include something before /body
	-#}
{% endblock footer_section %}