@font-face {
  font-family: 'Geometria';
  src: url('@{font-path}Geometria-Medium.eot');
  src: url('@{font-path}Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('@{font-path}Geometria-Medium.woff') format('woff2'),
  url('@{font-path}Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('@{font-path}Geometria-Bold.eot');
    src: url('@{font-path}Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}Geometria-Bold.woff') format('woff2'),
    url('@{font-path}Geometria-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('@{font-path}Geometria-Regular.eot');
    src: url('@{font-path}Geometria-Regular.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}Geometria-Regular.woff') format('woff2'),
    url('@{font-path}Geometria-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}