.btn{
    text-decoration: none;
    color: @base-color;
    font-size: 16px;
    font-weight: 500;
    height: 41px;
    line-height: 38px;
    display: inline-block;
    position: relative;
    padding: 0 20px;
    min-width: 192px;
    text-align: center;
    margin-top: 44px;

    &__text{
        position: relative;
    }

    &__spot{
        position: absolute;
        left: 0;
        right: -25px;
        top: 1px;
        bottom: -14px;
        background-image: url(../images/spot.png);
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.6;
        will-change: opacity;
        transition: opacity 0.3s ease-in-out .2s;
    }

    &:hover &__spot{
        opacity: 0.8;
    }

    &:after, &:before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        border: 2px solid @base-color;
        height: 15px;
    }
    &:before{
        top: 0;
        border-bottom: 0;
    }

    &:after{
        bottom: 0;
        border-top: 0;
    }

    @media screen and (max-width: 1024px) {
        font-size: 14px;
        min-width: 143px;
        height: 33px;
        line-height: 36px;
        margin-top: 50px;
    }
    @media screen and (max-width: 360px) {
        margin-top: 35px;
    }
}