.hero{
    display: flex;
    align-items: center;
    height: 100%;

    &__inner{
       position: relative;
       width: 100%;
    }

    &__img{
        width: 100%;
        top: 0;
        position: absolute;
        left: 0;

        &-block{
           width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 45%;
            width: 800px;

            &:before{
                content: '';
                display: block;
                padding-top: 65%;
            }
        }

        &--wallet{
            will-change: transform;
            animation: moveWalet infinite 4s;
            animation-timing-function: easeInOutCubic;
        }
        &--shadow{
            will-change: opacity;
            animation: moveshadw infinite 4s;
            animation-timing-function: easeInOutCubic;
        }
    }

    @media screen and (min-height: 1080px) {
        height: auto;
    }
    @media screen and (max-width: 1100px) {
        &__img{
            &-block{
                width: 733px;
                left: 32%;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        &__img{
            animation: none;
        }
    }
    @media screen and (max-width: 768px) {
        &__inner{
            padding-right: 0;
        }
        &__img{
            &-block{
                display: none;
            }
        }
    }
    @media screen and (max-width: 360px) {
        &__text{
            margin-right: 15px;
            br{
                display: none;
            }
        }
    }
}

@keyframes moveWalet {
    0%   {transform: translateY(0);}
    50%  {transform: translateY(-40px);}
    100% {transform: translateY(0);}
}

@keyframes moveshadw {
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}