.list{
    &__item{
        position: relative;
        margin-bottom: 50px;
        padding-left: 72px;
        .fz(18, 28);

        .svg-icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 48px;
            height: 48px;
        }
    }

    @media screen and (max-width: 1024px) {
        &__item{
            .fz(16, 24);
            margin-bottom: 57px;
        }
    }
    @media screen and (max-width: 360px) {
        &__item{
            .fz(14, 20);
            margin-bottom: 52px;
        }
    }
}