.h1{
    .fz(72, 80);
    font-weight: 600;
    @media screen and (max-width: 1100px) {
        .fz(48, 56);
        margin-bottom: 65px;
    }
    @media screen and (max-width: 360px) {
        .fz(30, 42);	
        margin-bottom: 45px;	
    }
}
.h2{
    .fz(56, 64);
    font-weight: 600;
    margin-bottom: 0.95em;
    @media screen and (max-width: 1100px) {
        .fz(40, 48);
        margin-bottom: 55px;
    }
    @media screen and (max-width: 360px) {
        .fz(26, 32);
        margin-bottom: 44px;	
    }
}
.text{
    font-weight: 600;
    .fz(18, 28);
    @media screen and (max-width: 1100px) {
		.fz(16, 24);		
    }
    @media screen and (max-width: 360px) {
		.fz(14, 20);		
    }
}