.container {
  .container-fixed();
  width: 100%;
  max-width: 1182px;

  @media screen and (max-width: 1024px) {
    max-width: 894px;	
  }
  @media screen and (max-width: 768px) {
    max-width: 606px;	
  }
  @media screen and (max-width: 360px) {
			max-width: 318px;
  }
}