.section {
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;

	&--col{
		min-height: 100vh;
	}

	&--hero{
		padding: 0;
		height: 100vh;
		position: relative;

		&:before{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 16px;
			background-image: linear-gradient(rgba(0, 0, 0, 0.0001) 0%,
			#231F20  100%);
			opacity: 0.1;
		}

		.container{
			height: 100%;
		}
	}

	
	@media screen and (min-height: 1081px), 
	screen and (max-width: 911px), 
	screen and (max-height: 767px)  {
		&--hero{
			padding: 230px 0;
			height: auto;
	
			.container{
				height: auto;
			}
		}  
	}
	@media screen and (max-width: 768px) {
		padding-top: 80px;
		padding-bottom: 127px;
		&--hero{
			padding-bottom: 127px;
			padding-top: 80px;
		}
	}
	
	@media screen and (max-width: 360px) {
		padding-top: 48px;
		padding-bottom: 28px;
		&--hero{
			padding-top: 48px;
			padding-bottom: 90px;
		}
    }
	
}